@model CATALOGWEB.Models.Usuario
@{
    ViewData["Title"] = "ELIMINAR USUARIO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="text-center mb-4">
            <h1 class="display-4">ELIMINAR USUARIO</h1>
        </div>
        <div class="col-md-6">
            <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Home" method="post">
            <input type="hidden" asp-for="Idu" />
            <div class="mb-2">
                <label class="form-label" asp-for="Nombre">NOMBRE</label>
                <input class="form-control form-control-sm" asp-for="Nombre" type="text " disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Correo">EMAIL</label>
                <input class="form-control form-control-sm" asp-for="Correo" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Curp">CURP</label>
                <input class="form-control form-control-sm" asp-for="Curp" type="text " disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Edad">EDAD</label>
                <input class="form-control form-control-sm" asp-for="Edad" type="text " disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Genero">GÉNERO</label>
                <input class="form-control form-control-sm" asp-for="Genero" type="text " disabled />
            </div>
            <div class="mb-2">
                <label class="form-label" asp-for="Idr">ROL</label>
                <input class="form-control form-control-sm" asp-for="oRol.Rol1" type="text " disabled />

            </div>

            <div class="mb-2">
                <button class="btn btn-danger btn-sm w-25" type="submit">ELIMINAR</button>
                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home"> VOLVER</a>
            </div>
        </form>
    </div>
</div>
    </div>
</div>
    </div>
</div>
