@model CATALOGWEB.Models.ViewModels.UsuarioVM
@{
    ViewData["Title"] = "DETALLE USUARIO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Model.oUsuario.Idu == 0)
{
    <h1 class="text-center">CREAR USUARIO</h1>
}
else
{
    <h1 class="text-center">EDITAR USUARIO</h1>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <form asp-action="Usuario_Detalle" asp-controller="Home" method="post">
                        <input type="hidden" asp-for="oUsuario.Idu" />
                        <div class="mb-3">
                            <label class="form-label" asp-for="oUsuario.Nombre">NOMBRE</label>
                            <input class="form-control" asp-for="oUsuario.Nombre" type="text" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label" asp-for="oUsuario.Correo">EMAIL</label>
                            <input class="form-control" asp-for="oUsuario.Correo" type="text" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label" asp-for="oUsuario.Curp">CURP</label>
                            <input class="form-control" asp-for="oUsuario.Curp" type="text" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label" asp-for="oUsuario.Edad">EDAD</label>
                            <input class="form-control" asp-for="oUsuario.Edad" type="text" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label" asp-for="oUsuario.Genero">GÉNERO</label>
                            <select class="form-control" asp-for="oUsuario.Genero">
                                <option value="F">Femenino</option>
                                <option value="M">Masculino</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" asp-for="oUsuario.Idr">ROL</label>
                            <select class="form-control" asp-for="oUsuario.Idr" asp-items="@Model.oListaRol">
                                <option selected disabled>--Seleccionar--</option>
                            </select>
                        </div>

                        <div class="d-flex justify-content-between">
                            @if (Model.oUsuario.Idu == 0)
                            {
                                <button class="btn btn-success btn-sm" type="submit" style="background-color: #069f4b; border-color: #069f4b; color: black;">CREAR</button>
                            }
                            else
                            {
                                <button class="btn btn-primary btn-sm" type="submit">ACTUALIZAR</button>
                            }
                            <a class="btn btn-dark btn-sm" asp-action="Usuarios" asp-controller="Home">VOLVER</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
